<div class="modal fade" id="laModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="d-flex justify-content-center mt-5">
        <button class="gradient-button3" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-x fa-xl" style="color: #000000;"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="container mt-3 p-4">
          <div class="row">
            <div class="col-12 col-md-6">
            <h1 class="header mb-3">League-All</h1>
            <h3> League-all is a platform which streamlines women's & non-binary football grassroots league management for both organisers and teams.
              It aims to solve inefficiency in the organisation of football leagues.</h3>
            </div>
            <div class="col-12 col-md-6" >
              <div style="padding:62.5% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/899803177?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="League-All Demo"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
            </div>
          </div>
          <div class="row mt-3">
          <div class="border-bottom border-2 mb-3"></div>
            <div class="col-12 col-md-4 mt-4">
                <div class="d-line flex d-flex justify-content-around">
                  <%= image_tag "ruby.png" %>
                  <%= image_tag "rails.png" %>
                  <%= image_tag "stimulus.png" %>
                  <%= image_tag "sass.png" %>
                </div>
                <div class="d-line flex d-flex justify-content-around mt-3">
                  <%= image_tag "html.png" %>
                  <%= image_tag "css.png" %>
                  <%= image_tag "bootstrap.png" %>
                  <%= image_tag "postgresql.png" %>
                </div>
              </div>
            <div class="col-12 col-md-4 mt-4 text-center">
              <h4>Team Size: 4 <i class="fa-solid fa-people-arrows" style="color: #000000;"></i></h4>
            </div>
            <div class="col-12 col-md-4 mt-4 text-center">
              <h4>Duration: 1 Week <i class="fa-solid fa-clock" style="color: #000000;"></i></h4>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
