<div class="container">
<%# Header  %>
<div class="row d-flex justify-content-center mt-3">
  <div class="col-12">
      <div class="d-flex justify-content-between p-3">
        <div class="header">
        <h1>Jonathan Grinstead 👋</h1>
        <h6>Full-Stack Developer</h6>
        </div>
        <div class="mt-2 d-flex justify-content-between">
        <h4 class="mx-3"><a href="#projects">Projects</a></h4>
        <h4 ><%= mail_to "jonathangrinstead.design@gmail.com", "Contact" %></h4>
        </div>
      </div>
  </div>
</div>

<%# My Info  %>

<div class="row d-flex justify-content-center">
<div class=col-8>
  <div class="row">
    <div class="col-6">
      <div class="card" style="height:20rem;">
        <div class="card-body info-section">
          <div class=" d-flex justify-content-center">
            <%= image_tag 'memoji.png'%>
          </div>
          <h5 class="text-wrap">Hey, I'm <span class="header" style="font-size:30px;">Jonathan</span>, A full-stack developer based in London, England. I'm interested in Ruby, JavaScript and making intuitive web experiences.</h5>
        </div>
      </div>
    </div>

  <%# MAP  %>

  <div class="col-6">
    <div class="map" style="width: 100%; height: 100%; border-radius:20px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>


<div class="row pt-4">
  <div class="col-4">
  <div class="card small-card d-flex justify-content-center stretched-link" style="height:20rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <div class="text-center">
      <h1 class="big-text">CV</h1>
    </div>
  </div>
  </div>
  <div class="col-4">
  <%= link_to "https://github.com/jonathangrinstead", target: :_blank do %>
    <div class="card github d-flex justify-content-center" style="height:20rem;">
      <div class="text-center">
        <h1 class="logo"><i class="fa-brands fa-github fa-2xl" style="color: #000000;"></i></h1>
      </div>
    </div>
  <% end %>
  </div>
  <div class="col-4">
  <%= link_to "https://www.linkedin.com/in/jonathangrinstead/", target: :_blank do %>
    <div class="card linkedin d-flex justify-content-center" style="height:20rem;">
      <div class="text-center">
        <h1 class="logo"><i class="fa-brands fa-linkedin fa-2xl" style="color: #000000;"></i></h1>
      </div>
    </div>
  <% end %>
  </div>
</div>
</div>

  <div class="col-4" >
    <div class="card" style="height:41.5rem;">
        <div class="d-flex justify-content-center pt-4 pb-2">
          <h2>Tech Stack</h2>
        </div>
      <div class="card-body overflow-auto">
        <div class="row d-flex justify-content-center">
          <div class="col-12">
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'ruby.png' %>
                <h4 class="mt-2">Ruby</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'rails.png' %>
                <h4 class="mt-2">Rails</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'javascript.png' %>
                <h4 class="mt-2">JavaScript</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'stimulus.png' %>
                <h4 class="mt-2">Stimulus JS</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'html.png' %>
                <h4 class="mt-2">HTML</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'css.png' %>
                <h4 class="mt-2">CSS</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'sass.png' %>
                <h4 class="mt-2">Sass</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'bootstrap.png' %>
                <h4 class="mt-2">Bootstrap</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'postgresql.png' %>
                <h4 class="mt-2">PostgreSQL</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'SQL.png' %>
                <h4 class="mt-2">SQL</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <%# Projects Area %>

  <div class="row d-flex justify-content-center mt-4 mb-4 p-1">
    <div class="col-12 d-flex justify-content-start">
      <h1 class="header">Projects 🚀</h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-6">
        <div class="card" style="height:30rem;">
        </div>
    </div>
      <div class="col-6">
        <div class="card" style="height:30rem;">
        </div>
      </div>
  </div>



  <%# CV Modal %>

  <%= render "cv_modal" %>

  <%# Footer  %>

  <div class="row d-flex justify-content-center mt-4 pt-4">
    <div class="col-12 d-flex justify-content-end">
      <p class="header" id="projects">Made with 🧡 by Jonathan Grinstead</p>
    </div>
  </div>

</div>
