<div class="container">
<%# Header  %>
<div class="row d-flex justify-content-center mt-3">
  <div class="col-12">
      <div class="d-flex justify-content-between p-3">
        <div class="header">
        <h1>Jonathan Grinstead 👋</h1>
        <h6>Full-Stack Developer</h6>
        </div>
        <div class="mt-2 d-flex justify-content-between">
        <h4 class="mx-3"><a href="#projects" data-action="click->smooth-scroll#scrollToTarget">Projects</a></h4>
        <h4 ><%= mail_to "jonathangrinstead.design@gmail.com", "Contact" %></h4>
        </div>
      </div>
  </div>
</div>

<%# My Info  %>

<div class="row d-flex justify-content-center">
<div class=col-8>
  <div class="row">
    <div class="col-6">
      <div class="card" style="height:20rem;">
        <div class="card-body info-section">
          <div class=" d-flex justify-content-center">
            <%= image_tag 'memoji.png'%>
          </div>
          <div class="text-center" >
          <h6 class="text-wrap">Hey, I'm <span class="header" style="font-size:30px;">Jonathan</span>, A full-stack developer based in London, England. I'm interested in Ruby, JavaScript and making intuitive web experiences.</h6>
          </div>
        </div>
      </div>
    </div>

  <%# MAP  %>

  <div class="col-6">
    <div class="map" style="width: 100%; height: 100%; border-radius:20px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>


<div class="row pt-4">
  <div class="col-4">
    <%= link_to asset_path("jonathan_grinstead_resume.pdf", skip_pipeline: true), target: :_blank do %>
      <div class="card small-card d-flex justify-content-center text-center" style="height:20rem;">
          <h1 class="big-text pt-2">CV</h1>
      </div>
    <% end %>
  </div>
  <div class="col-4">
  <%= link_to "https://github.com/jonathangrinstead", target: :_blank do %>
    <div class="card github d-flex justify-content-center" style="height:20rem;">
      <div class="text-center">
        <h1 class="logo"><i class="fa-brands fa-github fa-2xl" style="color: #000000;"></i></h1>
      </div>
    </div>
  <% end %>
  </div>
  <div class="col-4">
  <%= link_to "https://www.linkedin.com/in/jonathangrinstead/", target: :_blank do %>
    <div class="card linkedin d-flex justify-content-center" style="height:20rem;">
      <div class="text-center">
        <h1 class="logo"><i class="fa-brands fa-linkedin fa-2xl" style="color: #000000;"></i></h1>
      </div>
    </div>
  <% end %>
  </div>
</div>
</div>

  <div class="col-4" >
    <div class="card" style="height:41.5rem;">
        <div class="d-flex justify-content-center pt-4 pb-2">
          <h2>Tech Stack</h2>
        </div>
      <div class="card-body overflow-auto">
        <div class="row d-flex justify-content-center">
          <div class="col-12">
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'ruby.png' %>
                <h4 class="mt-2">Ruby</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'rails.png' %>
                <h4 class="mt-2">Rails</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'javascript.png' %>
                <h4 class="mt-2">JavaScript</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'stimulus.png' %>
                <h4 class="mt-2">Stimulus JS</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'html.png' %>
                <h4 class="mt-2">HTML</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'css.png' %>
                <h4 class="mt-2">CSS</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'sass.png' %>
                <h4 class="mt-2">Sass</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'bootstrap.png' %>
                <h4 class="mt-2">Bootstrap</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'postgresql.png' %>
                <h4 class="mt-2">PostgreSQL</h4>
              </div>
            </div>
            <div class="card p-3 m-2">
              <div class="d-flex justify-content-between">
                <%= image_tag 'SQL.png' %>
                <h4 class="mt-2">SQL</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row justify-content-center pt-4">

    <%# Music Tab  %>
    <div class="col-3">
      <div class="card d-flex justify content-center" style="height:20rem;"data-controller="music">
          <div class="card-body">
            <div class="d-flex justify-content-between p-2">
              <div data-music-target="img"></div>
              <div>
                <i class="fa-brands fa-spotify fa-2xl mt-4" style="color: #1db954;"></i>
              </div>
            </div>
            <div class="m-3">
            <h6>Now Playing</h6>
            <div class="music-container d-flex justify-content-between">
              <h4 data-music-target="name" class="artist-name"></h4>
                <div class="music-bars mb-3">
                <div class="music-bar"></div>
                <div class="music-bar"></div>
                <div class="music-bar"></div>
                </div>
              </div>
              <h6 data-music-target="song"></h6>
            </div>
            </div>
            </div>
          </div>

    <%# Weather Tab  %>
    <div class="col-3">
      <div class="card justify-content-center text-center" style="height:20rem; background-color:#add8e6;" data-controller="weather"  data-weather-api-key-value="<%= ENV['WEATHER_API_KEY'] %>">
          <div data-weather-target="img"></div>
          <h1 data-weather-target="temp"></h1>
          <div class="d-inline-flex justify-content-center text-center">
            <h6 data-weather-target="max" class="mx-2"></h6>
            <h6 data-weather-target="min" class="mx-2"></h6>
          </div>
        <div class="card-body">
          <h4 data-weather-target="location"></h4>
          <h5 data-weather-target="description"></h5>
        </div>
      </div>
    </div>

    <%# Quotes Tab %>
    <div class="col-6" >
      <div class="card align-items-center" style="height:20rem;" data-controller="quotes">
      <div class="card d-flex justify-content-center mt-4" style="height: 13rem; width:34rem;">
        <div class="card-body mt-2 mx-4 mb-3 overflow-auto" style="height:15rem">
        <div class="row">
          <h4 data-quotes-target="content">❝ Computer Science is no more about computers than astronomy is about telescopes. ❞</h4>
        </div>
        <div class="row">
          <h5 class="d-flex justify-content-end" data-quotes-target="author"> -Edsger W. Dijkstra</h5>
        </div>
        </div>
      </div>
        <div class="d-flex justify-content-end mt-3">
          <i class="fa-solid fa-arrows-rotate fa-2xl quote-icon mt-4" style="color: #000000;" data-action="click->quotes#refresh"></i>
        </div>
      </div>
    </div>

  </div>

  <%# Projects Area %>

  <div class="row d-flex justify-content-center mt-4 mb-4 p-1">
    <div class="col-12 d-flex justify-content-start">
      <h1 class="header">Projects 🚀</h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center">

    <%# League-All %>

    <div class="col-6">
        <div class="card" style="height:35rem;">
          <div class="card-body text-center mt-2">
            <div class="d-inline-flex">
              <h2 class="la-header">League-All</h2>
            </div>
            <div class="carousel-container 300-px-wide">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="<%= asset_path('league_all_signed_in.png') %>" class="d-block w-100" alt="League-All Homepage" style="width: 100%; height: 100%; border-radius: 20px;">
                  </div>
                  <div class="carousel-item">
                    <img src="<%= asset_path('league_all_team_dashboard.png') %>" class="d-block w-100" alt="League-All Team Dashboard" style="width: 100%; height: 100%;  border-radius: 20px;">
                  </div>
                  <div class="carousel-item">
                    <img src="<%= asset_path('league_all_messages.png') %>" class="d-block w-100" alt="League-All Team Messages" style="width: 100%; height: 100%;  border-radius: 20px;">
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between m-4">
              <button class="gradient-button1" data-bs-toggle="modal" data-bs-target="#laModal">
                <i class="fa-solid fa-arrow-up-right-from-square fa-xl"></i>
              </button>
              <%= link_to "https://github.com/zeinaaabbb/League-all", target: :_blank do%>
                <button class="gradient-button1">
                <i class="fa-brands fa-github fa-2xl"></i>
                </button>
              <% end %>
            </div>
          </div>
        </div>
    </div>

    <%# VenueBookr %>

    <div class="col-6">
      <div class="card" style="height:35rem;">
      <div class="card-body text-center mt-2">
        <div class="d-inline-flex">
          <h2 class="vb-header">VenueBookr</h2>
          </div>
            <div class="carousel-container 300-px-wide">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="<%= asset_path('venuebookr_homepage.png') %>" class="d-block w-100" alt="League-All Homepage" style="width: 100%; height: auto; border-radius: 20px;">
                  </div>
                  <div class="carousel-item">
                    <img src="<%= asset_path('venuebookr_save_venue.png') %>" class="d-block w-100" alt="League-All Team Dashboard" style="width: 100%; height: auto;  border-radius: 20px;">
                  </div>
                  <div class="carousel-item">
                    <img src="<%= asset_path('venuebookr_booked.png') %>" class="d-block w-100" alt="League-All Team Messages" style="width: 100%; height: auto;  border-radius: 20px;">
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between m-4">
              <button class="gradient-button2" data-bs-toggle="modal" data-bs-target="#vbModal">
                <i class="fa-solid fa-arrow-up-right-from-square fa-xl"></i>
              </button>
              <%= link_to "https://github.com/crudengold/-venuebookr", target: :_blank do%>
                <button class="gradient-button2">
                <i class="fa-brands fa-github fa-2xl"></i>
                </button>
              <% end %>
            </div>
          </div>
      </div>
    </div>

  </div>

  <%= render "la_modal" %>
  <%= render "vb_modal" %>

  <%# Footer  %>

  <div class="row d-flex justify-content-center mt-4 pt-4">
    <div class="col-12 d-flex justify-content-end">
      <p class="header" id="projects">Made with 🧡 by Jonathan Grinstead</p>
    </div>
  </div>

</div>
