<!DOCTYPE html>
<html>
  <head>
    <title>Jonathan Grinstead - Full-Stack Developer | Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Explore the portfolio of Jonathan Grinstead, a Full-Stack Developer specializing in Ruby, JavaScript, and modern web development. Discover my projects, skills, and professional journey.">
    <meta name="keywords" content="Jonathan Grinstead, Full-Stack Developer, Ruby, JavaScript, Web Development, Portfolio">
    <meta property="og:title" content="Jonathan Grinstead - Full-Stack Developer | Portfolio" />
    <meta property="og:description" content="Discover the professional journey and projects of Jonathan Grinstead, a skilled Full-Stack Developer specializing in Ruby and JavaScript." />
    <meta property="og:image" content="/app/assets/images/memoji.png" />
    <meta property="og:url" content="https://jonathangrinstead.dev/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Jonathan Grinstead - Full-Stack Developer | Portfolio">
    <meta name="twitter:description" content="Explore the portfolio of Jonathan Grinstead, a Full-Stack Developer specializing in Ruby, JavaScript, and modern web development.">
    <meta name="twitter:image" content="/app/assets/images/memoji.png">
    <link rel="canonical" href="https://jonathangrinstead.dev/">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('memoji_favi.png') %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= include_gon %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  </head>
  <body data-controller="smooth-scroll">
    <%= yield %>
  </body>
</html>
